<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--Student-->
    <bean class="com.beans.Student" id="S20">
        <constructor-arg name="regno" value="2601"/>
        <constructor-arg name="name" value="Ajay"/>
        <constructor-arg name="address" ref="A50"/>

    </bean>
    <bean class="com.beans.Address" id="A50">
       <constructor-arg  name="houseno" value="100" />
       <constructor-arg  name="city" value="Udupi"/>
        <constructor-arg name="pincode" value="120021"/>
    </bean>

</beans>
